<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.maktab.homework11_maktab37">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.activity.SearchActivity"
            android:parentActivityName=".controller.activity.TaskListActivity"/>
        <activity android:name=".controller.activity.DoneActivity" />
        <activity android:name=".controller.activity.DoingActivity" />
        <activity android:name=".controller.activity.TodoActivity" />
        <activity android:name=".controller.activity.TaskListActivity" />
        <activity android:name=".controller.activity.SignUpActivity" />
        <activity android:name=".controller.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>